body {
	padding: 1rem;
}

.card .list-group-flush {
	padding: 2rem;
}

.card {
	border-radius: 20px;
}

.card .list-group-flush h1 {
	padding-bottom: 1rem;
	font-family: Lato-Bold;
	user-select: none;
	font-size: 35px;
	font-weight: bold;
	font-weight: 800;
	 background-color: #f3ec78;
    background-image: linear-gradient(90deg, rgba(33,154,212,1) 0%, rgba(204,84,227,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font
}

.form-control {
    border-top-right-radius: 15px;
    padding: 0.3rem 0.75rem;
    border-bottom-right-radius: 15px;
    background-color: #f9f9f9;
    user-select: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  
}

select.form-select:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  user-select: none;
  
}

button[type="submit"] {
    width: 100%;
    border-radius: 20px;
    padding: 0.7rem;
    font-weight: 600;
    text-transform: capitalize;
    background: linear-gradient(90deg, rgba(33,154,212,1) 0%, rgba(204,84,227,1) 100%);
    border: none;
}

button[type="submit"]:hover {
	background: linear-gradient(90deg, rgba(30,140,193,1) 0%, rgba(174,69,194,1) 100%);
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f9f9f9;
}

select.form-select {
	border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f9f9f9;
}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/Lato-Bold.ttf") format('truetype');
}
